@font-face {
  font-family: "iconfont"; /* Project id 2782928 */
  src: url('//at.alicdn.com/t/font_2782928_7p08dx9lova.woff2?t=1630481599908') format('woff2'),
       url('//at.alicdn.com/t/font_2782928_7p08dx9lova.woff?t=1630481599908') format('woff'),
       url('//at.alicdn.com/t/font_2782928_7p08dx9lova.ttf?t=1630481599908') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before {
  content: "\e620";
}

